/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.task_wrapper{
    width:100%;
    background-color:rgb(39, 123, 192);
}
.task_wrap{
    min-height: 100vh;
    background-color:gainsboro ;
    width: 24%;
    margin-top: 5%;
}
h2{
    margin-top:20px;
}
.task_content{
    width:80%;
    background-color:#ffffff;
    height:80px;
    margin-bottom:20px;
}
.detail{
    background-color: black;
    height:100vh;
}